[Unit]
Description=Screenly Web UI
After=network-online.target

[Service]
WorkingDirectory=/opt/pi/screenly
User=pi
ExecStartPre=/usr/bin/python /opt/pi/screenly/bin/wait.py
ExecStart=/usr/bin/python /opt/pi/screenly/server.py
Restart=always
RestartSec=5
Environment=PYTHONPATH=/opt/pi/screenly

[Install]
WantedBy=multi-user.target
