[Unit]
Description=Websocket Server layer

[Service]
WorkingDirectory=/opt/pi/screenly
User=pi
ExecStart=/usr/bin/python /opt/pi/screenly/websocket_server_layer.py
Restart=always

[Install]
WantedBy=multi-user.target
